.Logout .lander {
    padding: 80px 0;
    text-align: center;
  }
 
  .Logout .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
 
  .Logout .lander p {
    color: #ffffff;
  }